div {
  width: 50%;
  height: max-content;
  text-align: center;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.074);
  margin: 0 auto;
  margin-top: 50px;
  padding: 10px;
  border-radius: 10px;
}

div h1 {
  color: #6c63ff;
  font-size: 30px;
}

div input {
  width: 80%;
  height: 38px;
  margin: 10px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #f1f1f1;
  border-radius: 10px;
  font-size: 16px;
}

div button {
  padding: 10px 30px;
  font-size: 20px;
  outline: none;
  border: none;
  color: white;
  background-color: #6c63ff;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

div p {
  color: #676767;
}

div p a {
  text-decoration: none;
  padding: 5px 0;
  color: #6c63ff;
  font-weight: bold;
}
